[website]
brand = XBee Carillon
author = Krazydad
host = 0.0.0.0
port = 8080
debug = 0

[pages]
chime = True
transcribe = True
pushbullet = True
clock = True

[chime]
name = Chime player
# NOTE: This is now overridden from local-site.cfg - don't bother changing it here
port = /dev/tty.usbserial-DA011O5Y
baud = 9600
# mute period specified in HHMM - use 0000 for both if no mute desired
start_mute = 0000
end_mute = 0800
timezone = America/Los_Angeles
subscribe = chime
action = Chime

[transcribe]
name = Transcribe
subscribe = transcribe
action = Transcribe

[pushbullet]
name = PushBullet
# This is intended to be overridden from local-site.cfg -- the access token shown here is invalid
access_token = not_a_valid_access_token
subscribe = pushbullet
action = PushBullet
triggers = [{"song": "glissando", "type": "push", "contains": "Web Tools"}, 
            {"song": "darkside", "type": "push", "contains": "Demo Update"}]

[clock]
name = Clock
subscribe = clock
action = Clock
ring_quarters = True
timezone = America/Los_Angeles

[songs]
let it snow = Be101808700600500400100000
baby it's cold outside = Be4006054008000000050070650080000000
we're in the money = Be608006708000000060800670800000
home on the range = Be800000706005600000114000444003405000
money = Bf5005095002004005007005005095002004005007005
nobody home = Cf1160606666606000006600065605000
quarter hour = Ha6541000
half hour = Ha465104564000
three quarter hour = Ha64510156406541000
hour = Ha4651045640645101564000000
bong = &4810000
glissando = Ba123456789
alert = Ba789
darkside = Bh3003003001053001053

